.oculto{
    display: none;
}

.btn-action{
    bottom: 34px;
    left: 125px;
}
.btn-submit{
    padding-top:10px;
}
.theme-dropdown .dropdown-menu {
    position: static;
    display: block;
    margin-bottom: 20px;
  }
  
  .theme-showcase > p > .btn {
    margin: 5px 0;
  }
  
  .theme-showcase .navbar .container {
    width: auto;
  }
  
  .error-message {
      color:red;
  }
  
  .oculto {
      display: none;
  }
  .platillo{
    width: 150px;
  }

  .platillo img{
      border-radius: 5px;
      box-shadow: rgba(0,0,0,0.5) 5px 5px 10px;
  }
  .food-category {
      color: #333333;
  }
  .food-category:hover{
      color: #333333;
  }

  .text-p{
    font-size: 18px;
  }

  .h3-h{
    font-size: 26px;
  }